NODE_ENV=development
PORT=3000

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=food_delivery
DATABASE_USER=admin
DATABASE_PASSWORD=admin123

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin123
